$black: #333;
$gray: #f0f0f0;
$lgray: #fcfcfc;
$red: #ec1e26;
$white: #fff;
$blue: #20a6ad;
$dblue: #128288;
$pink: #faeded;

$defaultColor: #333;
$defaultBg: #f0f0f0;

$defaultFont: 'Open Sans';
$titleFont: 'Open Sans';
$imgPath: "../images"; 